body {
    background: #0b3057;
    background: linear-gradient(to right, #1f2b3b,#334e74, #c0d1dd);
}

.btn-login {
    font-size: 0.9rem;
    letter-spacing: 0.05rem;
    padding: 0.75rem 1rem;
}

.btn-google {
    color: white !important;
    background-color: #ea4335;
}

.btn-facebook {
    color: white !important;
    background-color: #182d58;
}

.row {
    height: 100vh;
    justify-content: center;
    align-items: center;
}



